
/*this portion for when
	drawable browser space has:
	width >= 1100px

	@TODO
	the layout is different for widths less than this.
	*/

@font-face {
    font-family: 'Fira Sans';
    src: url('FiraSans-ExtraLight.otf');
}

@font-face {
    font-family: 'Inconsolata';
    src: url('Inconsolata.otf');
}

/*@font-face {
    font-family: 'dice';
    src: url('dice.ttf');
}*/

* {
    font-family: Fira Sans, sans serif;
}

body {
    font-size: 22px;
    background: #fff;
    /*animation-name: backgroundfadein;
    animation-iteration-count: 1.8s;
    animation-timing-function: linear;
    animation-duration: 1s;*/

    /*works awesomely well, except every page load it will trigger this animation.
      ideally just plays once upon login and done (transition from gif page)*/
    
    overflow-y: scroll;
}

global-page-body {}

@-moz-keyframes backgroundfadein {
    0% {
        background: #262626;
    }
    100% {
     /*   background: #fff;*/
    }
}

/*goodhello page and standard login */
#top {
	position: absolute;
	top: 100px;
	height: 1000px;
	width: 900px;
	left: 50%;
	margin-left: -450px;
}

#left.goodhello {
	display: block;
	float: left;
	clear: none;
	width: 600px;
	height: 200px;
	border: 1px solid hsl(135, 50%, 30%);
	border-right: 30px solid hsl(135, 50%, 30%);
	font-size: 130px;
	text-align:center;
	padding-top: 30px;
}

#right.flowshaper {
	display: block;
	float: right;
	clear: none;
	
	margin-top: 87px;
	width: 150px;
	height: 40px;
	border: 1px solid hsl(175, 50%, 30%);
	border-right: 7px solid hsl(175, 50%, 30%);
	color: hsl(175, 50%, 30%);
	font-size: 30px;
	text-align:center;
}


#signinForm {
	display: block;
	clear: both;
	width: 597px;
	position: relative;
	left: 50%;
	margin-left: -300px;
	top: 20px;

	height: 45px;
	border: 0px solid black;
}

.formwrap {
	padding: 10px;
	display: inline-block;
}

#emailwrap {
	position: absolute;
	left: 500px;
	width: 290px;
	border: 0px solid hsl(175, 53%, 35%);
	border-width: 3px 0 0 0;
}

#email {
	width: 270px;
}


#buttonwrap {
	position: absolute;
	left: 467px;
	width: 110px;
	z-index: 5;
	border: 0px solid hsl(175, 53%, 35%);
	border-width: 3px 0 0 0;
}

#signinBtn {
	width: 110px;
}


/*main pages other than login*/
#maincontain {
    position: absolute;
    top: 0px;
    left: 50%;
    margin-left: -650px;
    
    width:1300px;
    display: block;
    overflow: hidden;
    box-shadow: 0px 0px 3px #777;
    background: hsl(207, 51%, 100%);

    z-index: 5;
}
#ticker {
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    margin-left: 0px;
    height: 20px;
    margin-bottom: 20px;
    
    text-align: center;
    background: #262626;
    font-size: 20px;
    display: block;
    z-index: 10;
    border: 1px solid #444;
    border-width: 0 0 1px 0;
}
#ascension {
    display: block;
    top: -3px;
    position: absolute;
    margin-left: -150px;
    left: 50%;
    width: auto;
    padding: 0 10px 0 10px;
    color: hsl(24, 89%, 100%);
    /*background: #fff;*/
}
#left_wrap {
    overflow: auto;
    display: block;
    width: 333px;
    
    background: #F5F5F5;
    margin-top: 22px;
/*transition: left 10s linear; 
  margin-left: 0px;*/
   
}
#usercardwrap {
    width: 327px;
    height: 80px;
    /*background: hsla(220, 34%, 100%, .5);*/
    position: absolute;
    
    left: 35px;
    top: 27px;
    
    border: 1px solid hsla(15, 0%, 40%, .35);
    
    border-radius: 0px;
    overflow: hidden;

    transition: background-color 500ms linear;
    transition: height 0.4s ease;
}
#usercardwrap:hover {
 /*   background: hsla(220, 34%, 50%, .9);*/
    transition: height 0.4s ease;
    height: 200px;
}

#usercardinnerwrap /* inner wrap, not dinner wrap */{
    position: relative;
    height: 100%;
    width: 100%;
    display: block;
}

#usercard {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    font-size: 16px;
    /*opacity: 0.2;*/
    transition: opacity 0.5s ease;
/*think about hiding the usercard when not in use*/

}

#usercard:hover {
    opacity: 1;
    transition: opacity 0.5s ease;
}

#usergravatar {
    position: absolute;
    right: 0px;
    top: 0;
    border: 1px solid hsla(120, 50%, 20%, .5);
    border-width: 0 0 1px 1px;
}

/*#logoutbutton {
    position: absolute;
    bottom: 2px;
    left: 5px;
    font-size: 16px;
}*/

.usercardbutton {
    float: left;
    clear:left;
    margin: 3px 3px 0px 3px;
    border: 1px solid #bbb;
    font-size: 15px;
    /*all usercard buttons follow this class style aw yeh kickflips*/
}

.usercardbutton a {
    color: #777;
    padding: 3px 2px 3px 2px;
    text-decoration: none;
}

.usercardbutton a:hover {
    color: #000;
}


#vine {
    position: absolute;
    top:  127px;
    left: 35px;
    min-height:  500px;
    width:       326px;
    
    border: 1px solid green;
    border-radius: 0px;
    background: #ffffff;
    display: none;
}
#zoomBox {
    width: 100%;
    height: 200px;
    background: hsla(170, 52%, 77%, .5);
    position: absolute;
    bottom: 0;
    border-top: 1px solid hsla(170, 52%, 77%, .5);
}
#footer-nfo {
    position: absolute;
    bottom: 0px;
    height: 100px;
    width: 100%;
    font-size: 12px;
    font-family: "lucida console";
    
}
#right_wrap {
    
    display: block;
    overflow: auto;
    padding-right: 0px;
    margin-left: 370px;
    /*min-width: 575px;*/
    /*min-width: 934px; ideal*/
    float: left;
    margin-top: 4px;
}

.loginwrap /* for the login page */ {
    display: block;
    margin-top: 50px;
    height: 500px;
}

.usercreation /*for the createuser.html page*/ {
    display: block;
    margin-top: 50px;
    height: 500px;
}

#shortWidthUserCard {
    visibility: hidden;

    background: hsla(270, 50%, 70%, .8);
    width: 964px;
}

/*@media only screen and (max-width: 1260px) {
    #left_wrap {
        visibility: hidden;
    }
    #usercard {
        background: magenta;
    }
    #right_wrap {
        margin-left: 10px;
        width: 926px;
    }
    #shortWidthUserCard {
        visibility: visible;
    }
}

/*@media only screen and (max-width: 890px) {
    #right_wrap {
        width: 620px;
    }
}*/
#uploadform /*{for upload.html}*/ {
    display: block;
    overflow: auto;
}

.uploadsubmitbutton {
    width: auto;
    height: 40px;
    border-radius: 2px;
    background: teal;
    color: #fff;
}

#blurbpool {
    /* width: remaining; //haha i wish/*/
    display: block;
    overflow: auto;
    /*	border: 1px dashed #789;*/
    padding: 0;
}

.blurb {
    background: hsla(210, 50%, 99%, 1);
    margin-bottom: 8px;
    margin-right: 8px;
    width: 290px; /*954/3 = 318*/
    height: 180px;
    padding: 0px 0 0 7px;
    
    border: 1px solid hsla(170, 0%, 70%, .9);
    border-radius: 0px;
    float: left;
    overflow: hidden; /*was overflow-x:hidden*/
    position: relative;
}

.blurb:hover {
    border: 1px solid hsla(207, 59%, 50%, 1);
}

.blurb:active {
    background-color: hsla(250, 50%, 90%, .3);
    border: 1px solid hsla(207, 59%, 50%, 1);
}

.blurblink {
    /*background: hsla(28, 89%, 50%, .7); /*transparent orange*/
    background: hsla(207, 59%, 50%, .1); /*transparent blue*/
    position: absolute;
    width: 8px;
    height: 180px;
    left: 0; top: 0;
    transition: width 0.5s ease;
}

.blurblink:hover {
    width: 300px;
    transition: width 0.25s linear;
}




.blurbratingwrap {
    /*position: absolute;*/
    display: block;
    position: relative;
    float: right;
    width: 58px;
    height: 48px;
    
    border: 1px solid #aaa;
    border-width: 0 0 1px 1px;

    vertical-align: middle;
    background-color: #fff;
    margin: 0 0 2px 2px;
    overflow: hidden;
    color: hsl(225, 0%, 100%);
}

.doubleplus {
    height: 16px;
    width: 58px;
    position: absolute;
    top: 0px;
    background-color: hsla(242, 35%, 29%, .7);
}

.singleplus {
    height: 17px;
    width: 58px;
    position: absolute;
    top: 16px;
    background-color: hsla(176, 29%, 30%, .7);
}
.needswork {
    height: 16px;
    width: 58px;
    position: absolute;
    top: 33px;
    background-color: hsla(166, 24%, 40%, .7);
}

.blurbrating {
    position: absolute;
    top: -5px;
    left: 2px;
    font-size: 54px;
    font-family: 'Inconsolata';
}

.lightBlurb {
    width: 290px;
    height: 100%;
}
.brightBlurb {
    background: hsla(220, 50%, 70%, .7);
    height: 100%;
    
}
.blurbin /*blurb textual contents div*/ 
/* such as innerblurbtitle & innerblurbcontent */{
    overflow-y: auto;
    height: 180px;
}


.innerblurbtitle {
    display: inline;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    width: 228px;
    /*background: hsl(152, 41%, 50%);
    color: #fff;*/
    padding: 2px 0 2px 0;
}

.innerblurbcontent {
    display: inline;
    /*width: 100%;*/
    font-size: 20px;
    line-height: 22px;
/*padding-right: 15px;*/
    white-space: pre-wrap;
    
}

.innerblurbtags {
    /*could use some re-tree-ing on the dom*/
    position: absolute;
    bottom: 0px;
    height: 18px;
    font-size: 14px;
    width: 100%;
    background: hsla(120, 50%, 90%, 1);
    display: none;
}

/*brief stuff*/
#briefpool {
    min-width: 505px;
    margin-bottom: 40px;
    /*border: 1px solid black;*/
    display: block;
    overflow: auto;
    padding-bottom: 5px;
    padding-right: 45px;
}
.brief {
    padding: 2px;
    background: #fff;
    margin-bottom: 10px;
    border: 1px solid hsl(242, 50%, 70%);
    border-radius: 0px;
    font-size: 17px;
    width: 846px;
    left: 20px;
    position: relative;
}

.briefratingwrap {
    width: 29px;
    height: 22px;
    float: right;
    display: block;

    overflow: hidden;
    border: 1px solid #000;
    border-radius: 0px;
    position: relative;
    background-color: hsl(225, 50%, 40%);
    font-size: 22px;
}

.briefrating {
    font-family: 'Inconsolata';
    position: absolute;
    left: 3px;
    bottom: 3px;
    width: 28px;
    height: 20px;
    color: #fff;

}


/** monoblurb view page */

.monoblurb {
    background: hsla(210, 50%, 99%, 1);
    margin-bottom: 8px;
    margin-right: 8px;
    width: 590px; /*954/3 = 318*/
    min-height: 370px;
    padding: 0 0 0 3px;
    
    border: 1px solid hsla(170, 0%, 70%, .9);
    border-radius: 0px;
    float: none;
    overflow-x: hidden;
    position: relative;
    white-space: pre-wrap;
/*https://css-tricks.com/almanac/properties/w/whitespace/
  understdaing pre and pre-wrap*/
}

.monoblurbcontent {}

.monoblurbratingwrap {
    /*position: absolute;*/
    display: block;
    position: relative;
    float: right;
    width: 87px;
    height: 72px;
    
    border: 1px solid #aaa;
    border-width: 0 0 1px 1px;

    vertical-align: middle;
    background-color: #fff;
    margin: 0 0 2px 2px;
    overflow: hidden;
    color: hsl(225, 0%, 100%);
}

.monodoubleplus {
    height: 24px;
    width: 87px;
    position: absolute;
    top: 0px;
    background-color: hsla(242, 35%, 29%, .7);
}

.monosingleplus {
    height: 26px;
    width: 87px;
    position: absolute;
    top: 24px;
    background-color: hsla(176, 29%, 30%, .7);
}
.mononeedswork {
    height: 24px;
    width: 87px;
    position: absolute;
    top: 50px;
    background-color: hsla(166, 24%, 40%, .7);
}


/*rating buttons!...pushin' awn ma buttonz babe ;) ;) ;)*/
.rating-submit-button {
    border: 0;
    color: hsla(0,0%,0%,0);
    transition: color .35s ease;
}

.rating-submit-button:hover {
    color: hsla(0, 0%, 100%, 1);
    transition: color .35s ease;
}

.monodoubleplus-button {
    height: 24px;
    width: 87px;
    position: absolute;
    top: 0px;
    background-color: hsla(242, 35%, 29%, 0);
}

.monosingleplus-button {
    height: 26px;
    width: 87px;
    position: absolute;
    top: 24px;
    background-color: hsla(176, 29%, 30%, 0);
}
.mononeedswork-button {
    height: 24px;
    width: 87px;
    position: absolute;
    top: 50px;
    background-color: hsla(166, 24%, 40%, 0);
}

.submitRatingForm {

}


.monoblurbrating {
    position: absolute;
    top: -5px;
    left: 2px;
    font-size: 81px;
    font-family: 'Inconsolata';
}

.monoinnerblurbtitle {
    font-weight: bold;
    font-size: 42px;
    line-height: 50px;
    padding-bottom: 10px;
}

.monoinnerblurbcontent {
    font-size: 30px;
    line-height: 22px
    padding-right: 15px;
}

.monoinnerblurbtags {
    position: absolute;
    bottom: 0px;
    height: 14px;
    font-size: 14px;
    width: 100%;
    background: hsla(120, 50%, 90%, .5);
    display: none; /*ideally displaying below the blurb box or on the right verticlly*/
}

.blurbtagbox {
    position: relative;
    width: 305px;
    padding-left: 3px;
    border: 1px solid #eee;
    min-height: 1px;
}

#blurbtags {
    position: absolute;
    left: 973px;
    top: 30px;
}

#blurbtag-innerwrap {
    position: relative;
}


/*--post page--*/

.postcontenttitle {
    float: left;
    clear: none;
    margin-top: 0px;
    width: 547px;
    height: 40px;
}

.postcontentsfield {
    margin-top: 10px;
    margin-bottom: 135px;
    width: 547px;
    height: 207px;

    min-width: 547px;
    min-height: 40px;
    float: left;
    clear: left;
}

.postcontenttags {
    margin-top: 10px;
    width: 305px;
    height: 40px;
    float: left;
    clear: left;
    margin-bottom: 10px;
}

.postsubmitbutton {
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 15px;
    float: right;
    width: 112px;
    height: 40px;
}




        /* @TODO
	   keyboard shortcuts:
	   left arrow/right arrows:
	   toggle between:
	   
	   scroll shadow overlay (for going to the top, bot,
	   and perhaps some intermediate areas [of the blurbpool]
	   with just the keyboard)
	   
	   left-wrap (usercard, vine, zoom, footer)
	   
	   right-wrap
           
	   (wraps around on the right side to the scroll shadow overlay)
	   
           
