
/*this portion for when
	drawable browser space has:
	width >= 1100px

	@TODO
	the layout is different for widths less than this.
	*/
body {
}
#maincontain {
	position: absolute;
	top: 0px;
	left: 0px;
	
	width: 10
	display: block;
	overflow: hidden;
}
#ticker {
	display: block;
	position: absolute;
	top:0;
        width: 100%;
	height: 18px;
	left: 0;
        margin-bottom: 20px;

        text-align: center;
	background: hsla(170,30%,50%, .7);
	font-size: 16px;
	font-family: "lucida console";
}
#left_wrap {
    
    overflow: auto;
        display: block;
        width: 333px;
	
	background: #F5F5F5;
   margin-top: 22px;
 
}
#usercard {
	width: 333px;
	height: 100px;
	background: hsla(220, 34%, 50%, .8);
	position: absolute;
	
	left: 0;
	top: 22px;
}
#vine {
	position: absolute;
	top:  127px;
	left: 20;
	min-height:  500px;
	width:       270px;
	
	border: 1px solid green;
	border-radius: 3px;
}
#zoomBox {
	width: 270px;
	height: 200px;
	background: hsla(170, 52%, 77%, .5);
	position: absolute;
	bottom: 0;
	border-top: 1px solid hsla(170, 52%, 77%, .5);
}
#footer-nfo {
	position: absolute;
	bottom: 0px;
	height: 100px;
	width: 100%;
	font-size: 12px;
	font-family: "lucida console";
	
}
#right_wrap {

	display: block;
        overflow: auto;
        padding-right: 0px;
        margin-left: 343px;
	min-width: 636px;
        /*min-width: 934px; ideal*/
        float: left;
}

#shortWidthUserCard {
    visibility: hidden;

    background: hsla(270, 50%, 70%, .8);
    width: 964px;
}

@media only screen and (max-width: 1083px) {
    #left_wrap {
        visibility: hidden;
    }
    #usercard {
        background: magenta;
    }
    #right_wrap {
        margin-left: 0;
        width: 924px;
        }
    #shortWidthUserCard {
        visibility: visible;
        }
}
#blurbpool {
	/* width: remaining; //haha i wish/*/
    display: block;
    overflow: auto;
    background: #e7e7e8;
    	border: 1px dashed #789;
        overflow: none;
        padding: 0;
}

.blurb {
    background: hsla(210, 50%, 99%, 1);
    margin: 5px;
    width: 290px; /*954/3 = 318*/
    height: 150px;
    padding: 2px;
    border: 1px solid hsla(170, 50%, 70%, .9);
    border-radius: 5px;
    float: left;
    overflow-x: hidden;
}

.blurbcontent {
    width: 290px;
    height: auto;
}
.topBlurb {
    background: hsla(220, 50%, 70%, .7);
}

#briefpool {
	min-width: 700px;
	margin-bottom: 40px;
	border: 1px solid black;
	display: block;
        overflow: auto;
}

/* @TODO
	keyboard shortcuts:
	left arrow/right arrows:
	toggle between:
	
	scroll shadow overlay (for going to the top, bot,
	and perhaps some intermediate areas [of the blurbpool]
	with just the keyboard)
	
	left-wrap (usercard, vine, zoom, footer)
	
	right-wrap

	(wraps around on the right side to the scroll shadow overlay)
	
